# Multi Class Prediction of Obesity Risk

## primary Data Analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df_train = pd.read_csv("train.csv/train.csv", delimiter=",")

In [3]:
df_train.shape

(20758, 18)

In [4]:
df_train.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

In [5]:
df_train.tail()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
20753,20753,Male,25.137087,1.766626,114.187096,yes,yes,2.919584,3.000000,Sometimes,no,2.151809,no,1.330519,0.196680,Sometimes,Public_Transportation,Obesity_Type_II
20754,20754,Male,18.000000,1.710000,50.000000,no,yes,3.000000,4.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
20755,20755,Male,20.101026,1.819557,105.580491,yes,yes,2.407817,3.000000,Sometimes,no,2.000000,no,1.158040,1.198439,no,Public_Transportation,Obesity_Type_II
20756,20756,Male,33.852953,1.700000,83.520113,yes,yes,2.671238,1.971472,Sometimes,no,2.144838,no,0.000000,0.973834,no,Automobile,Overweight_Level_II
20757,20757,Male,26.680376,1.816547,118.134898,yes,yes,3.000000,3.000000,Sometimes,no,2.003563,no,0.684487,0.713823,Sometimes,Public_Transportation,Obesity_Type_II

In [6]:
from tabulate import tabulate
data = [
    ["FAVC", "Frequent consumption of high caloric food"],
    ["FCVC", "Frequency of consumption of vegetables"],
    ["NCP", "Number of main meals"],
    ["CAEC", "Consumption of food between meals"],
    ["CH20", "Consumption of water daily"],
    ["CALC", "Consumption of alcohol"],
    ["SCC", "Calories consumption monitoring"],
    ["FAF", "Physical activity frequency"],
    ["TUE", "Time using technology devices"],
    ["MTRANS", "Transportation used"]
]
headers = ["Abbreviation", "Full Form"]

table = tabulate(data, headers, tablefmt="pipe")
print(table)

| Abbreviation   | Full Form                                 |
|:---------------|:------------------------------------------|
| FAVC           | Frequent consumption of high caloric food |
| FCVC           | Frequency of consumption of vegetables    |
| NCP            | Number of main meals                      |
| CAEC           | Consumption of food between meals         |
| CH20           | Consumption of water daily                |
| CALC           | Consumption of alcohol                    |
| SCC            | Calories consumption monitoring           |
| FAF            | Physical activity frequency               |
| TUE            | Time using technology devices             |
| MTRANS         | Transportation used                       |

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

In [8]:
df_train.describe()

,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,20758.00000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000
mean,10378.50000,23.841804,1.700245,87.887768,2.445908,2.761332,2.029418,0.981747,0.616756
std,5992.46278,5.688072,0.087312,26.379443,0.533218,0.705375,0.608467,0.838302,0.602113
min,0.00000,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,5189.25000,20.000000,1.631856,66.000000,2.000000,3.000000,1.792022,0.008013,0.000000
50%,10378.50000,22.815416,1.700000,84.064875,2.393837,3.000000,2.000000,1.000000,0.573887
75%,15567.75000,26.000000,1.762887,111.600553,3.000000,3.000000,2.549617,1.587406,1.000000
max,20757.00000,61.000000,1.975663,165.057269,3.000000,4.000000,3.000000,3.000000,2.000000

In [9]:
df_train.duplicated().values.any()

False

As we can see from the above anlysis there are no null values or any duplicates either in the dataset, the dataset is clean 😁.

In [10]:
df_train.nunique()

id                                20758
Gender                                2
Age                                1703
Height                             1833
Weight                             1979
family_history_with_overweight        2
FAVC                                  2
FCVC                                934
NCP                                 689
CAEC                                  4
SMOKE                                 2
CH2O                               1506
SCC                                   2
FAF                                1360
TUE                                1297
CALC                                  3
MTRANS                                5
NObeyesdad                            7
dtype: int64

### Replace the values of yes no with 1 and 0 respectively so to make them compatible to work with the Neural Network

In [9]:
df_train["family_history_with_overweight"].replace(["yes", "no"], [1, 0], inplace=True)

In [10]:
df_train["FAVC"].replace(["yes", "no"], [1, 0], inplace=True)
df_train["SMOKE"].replace(["yes", "no"], [1, 0], inplace=True)
df_train["SCC"].replace(["yes", "no"], [1, 0], inplace=True)

### Use One Hot Encoding to get all the columns in numeric data type

In [11]:
df_train = pd.get_dummies(df_train ,prefix=['Gender', 'CAEC', 'CALC', 'MTRANS'], columns = ['Gender', 'CAEC', 'CALC', 'MTRANS'], drop_first=False, dtype=np.int64)

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Age                             20758 non-null  float64
 2   Height                          20758 non-null  float64
 3   Weight                          20758 non-null  float64
 4   family_history_with_overweight  20758 non-null  int64
 5   FAVC                            20758 non-null  int64
 6   FCVC                            20758 non-null  float64
 7   NCP                             20758 non-null  float64
 8   SMOKE                           20758 non-null  int64
 9   CH2O                            20758 non-null  float64
 10  SCC                             20758 non-null  int64
 11  FAF                             20758 non-null  float64
 12  TUE                             20758 non-null  float64
 13  NObeyesdad                      20758 non-null  object
 14  Gender_Female                   20758 non-null  int64
 15  Gender_Male                     20758 non-null  int64
 16  CAEC_Always                     20758 non-null  int64
 17  CAEC_Frequently                 20758 non-null  int64
 18  CAEC_Sometimes                  20758 non-null  int64
 19  CAEC_no                         20758 non-null  int64
 20  CALC_Frequently                 20758 non-null  int64
 21  CALC_Sometimes                  20758 non-null  int64
 22  CALC_no                         20758 non-null  int64
 23  MTRANS_Automobile               20758 non-null  int64
 24  MTRANS_Bike                     20758 non-null  int64
 25  MTRANS_Motorbike                20758 non-null  int64
 26  MTRANS_Public_Transportation    20758 non-null  int64
 27  MTRANS_Walking                  20758 non-null  int64
dtypes: float64(8), int64(19), object(1)
memory usage: 4.4+ MB

In [16]:
df_train.head(2)

,id,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,...,CAEC_Sometimes,CAEC_no,CALC_Frequently,CALC_Sometimes,CALC_no,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking
0,0,24.443011,1.699998,81.66995,1,1,2.0,2.983297,0,2.763573,...,1,0,0,1,0,0,0,0,1,0
1,1,18.000000,1.560000,57.00000,1,1,2.0,3.000000,0,2.000000,...,0,0,0,0,1,1,0,0,0,0

In [13]:
changed_names = {
    "Obesity_Type_III": 0,
    "Obesity_Type_II": 1,
    "Normal_Weight": 2,
    "Obesity_Type_I": 3,
    "Insufficient_Weight": 4,
    "Overweight_Level_II": 5,
    "Overweight_Level_I": 6,
}

In [14]:
df_train["NObeyesdad"].replace(changed_names.keys(), changed_names.values(), inplace=True)

In [15]:
changed_names.values()

dict_values([0, 1, 2, 3, 4, 5, 6])

In [16]:
df_train.shape

(20758, 28)

## Now Let's Build the neural network

In [17]:
X = df_train.drop(["NObeyesdad", "id"], axis=1)
y = df_train["NObeyesdad"]

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

In [19]:
print(f"The shape of X_train is : {X_train.shape}")
print(f"The shape of X_test is : {X_test.shape}")
print(f"The shape of y_train is : {y_train.shape}")
print(f"The shape of y_test is : {y_test.shape}")

The shape of X_train is : (16606, 26)
The shape of X_test is : (4152, 26)
The shape of y_train is : (16606,)
The shape of y_test is : (4152,)

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import logging
logging.getLogger("tensorflow").setLevel(logging.ERROR)
tf.autograph.set_verbosity(0)

WARNING:tensorflow:From C:\Users\abhis\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [53]:

model = Sequential(
    [
        Dense(25, "relu", name="L3"),
        Dense(25, "relu", name="L5"),
        Dense(7, "linear", name="L4")
    ]
)

In [49]:
model.compile(
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    optimizer=tf.keras.optimizers.Adam(0.1)
)

model.fit(X_train, y_train, epochs=70)

Epoch 1/70
519/519 [==============================] - 1s 904us/step - loss: 3.6238
Epoch 2/70
519/519 [==============================] - 0s 901us/step - loss: 2.0044
Epoch 3/70
519/519 [==============================] - 0s 890us/step - loss: 1.9459
Epoch 4/70
519/519 [==============================] - 0s 896us/step - loss: 1.9399
Epoch 5/70
519/519 [==============================] - 0s 901us/step - loss: 1.9405
Epoch 6/70
519/519 [==============================] - 0s 907us/step - loss: 1.9414
Epoch 7/70
519/519 [==============================] - 0s 897us/step - loss: 1.9408
Epoch 8/70
519/519 [==============================] - 0s 930us/step - loss: 1.9421
Epoch 9/70
228/519 [============>.................] - ETA: 0s - loss: 1.9396

KeyboardInterrupt:

In [23]:
pred_y_train = np.argmax(tf.nn.softmax(model.predict(X_train)).numpy(),axis=1)
pred_y_test = np.argmax(tf.nn.softmax(model.predict(X_test)).numpy(),axis=1)

# pred_y = X_norm @ w + b
e1= np.sum((y_train - pred_y_train) ** 2)
e2 = np.sum((y_train - np.mean(y_train)) ** 2)
r_squred = 1 - (e1 / e2)
print(f"The rsquared for training dataset is: {r_squred}")

e1= np.sum((y_test - pred_y_test) ** 2)
e2 = np.sum((y_test - np.mean(y_test)) ** 2)
r_squred = 1 - (e1 / e2)
print(f"The rsquard for testing dataset is: {r_squred}")

519/519 [==============================] - 0s 747us/step
130/130 [==============================] - 0s 768us/step
The rsquared for training dataset is: 0.7835047230392291
The rsquard for testing dataset is: 0.783305152725852

## Let's try running the model by normalizing the features

In [29]:
X_norm = (X - X.mean()) / X.std()

In [30]:
X_norm_train, X_norm_test, y_norm_train, y_norm_test = train_test_split(X_norm, y, test_size=0.2, random_state=1234)

In [54]:
model.compile(
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    optimizer=tf.keras.optimizers.Adam(0.01)
)

model.fit(X_norm_train, y_norm_train, epochs=100)

Epoch 1/100
519/519 [==============================] - 1s 872us/step - loss: 0.6019
Epoch 2/100
519/519 [==============================] - 0s 875us/step - loss: 0.4472
Epoch 3/100
519/519 [==============================] - 0s 860us/step - loss: 0.4260
Epoch 4/100
519/519 [==============================] - 0s 865us/step - loss: 0.4090
Epoch 5/100
519/519 [==============================] - 0s 870us/step - loss: 0.4010
Epoch 6/100
519/519 [==============================] - 0s 863us/step - loss: 0.3973
Epoch 7/100
519/519 [==============================] - 0s 886us/step - loss: 0.3946
Epoch 8/100
519/519 [==============================] - 0s 865us/step - loss: 0.3882
Epoch 9/100
519/519 [==============================] - 0s 861us/step - loss: 0.3856
Epoch 10/100
519/519 [==============================] - 0s 884us/step - loss: 0.3795
Epoch 11/100
519/519 [==============================] - 0s 871us/step - loss: 0.3828
Epoch 12/100
519/519 [==============================] - 0s 873us/step - loss: 0.3711
Epoch 13/100
519/519 [==============================] - 0s 867us/step - loss: 0.3691
Epoch 14/100
519/519 [==============================] - 0s 866us/step - loss: 0.3725
Epoch 15/100
519/519 [==============================] - 0s 869us/step - loss: 0.3675
Epoch 16/100
519/519 [==============================] - 0s 865us/step - loss: 0.3640
Epoch 17/100
519/519 [==============================] - 0s 861us/step - loss: 0.3664
Epoch 18/100
519/519 [==============================] - 0s 861us/step - loss: 0.3593
Epoch 19/100
519/519 [==============================] - 0s 875us/step - loss: 0.3588
Epoch 20/100
519/519 [==============================] - 0s 867us/step - loss: 0.3607
Epoch 21/100
519/519 [==============================] - 0s 878us/step - loss: 0.3569
Epoch 22/100
519/519 [==============================] - 0s 870us/step - loss: 0.3577
Epoch 23/100
519/519 [==============================] - 0s 863us/step - loss: 0.3517
Epoch 24/100
519/519 [==============================] - 0s 868us/step - loss: 0.3535
Epoch 25/100
519/519 [==============================] - 0s 867us/step - loss: 0.3546
Epoch 26/100
519/519 [==============================] - 0s 866us/step - loss: 0.3543
Epoch 27/100
519/519 [==============================] - 0s 872us/step - loss: 0.3487
Epoch 28/100
519/519 [==============================] - 0s 862us/step - loss: 0.3505
Epoch 29/100
519/519 [==============================] - 0s 886us/step - loss: 0.3501
Epoch 30/100
519/519 [==============================] - 0s 882us/step - loss: 0.3474
Epoch 31/100
519/519 [==============================] - 0s 926us/step - loss: 0.3477
Epoch 32/100
519/519 [==============================] - 0s 904us/step - loss: 0.3463
Epoch 33/100
519/519 [==============================] - 0s 878us/step - loss: 0.3517
Epoch 34/100
519/519 [==============================] - 0s 881us/step - loss: 0.3444
Epoch 35/100
519/519 [==============================] - 0s 873us/step - loss: 0.3461
Epoch 36/100
519/519 [==============================] - 0s 889us/step - loss: 0.3458
Epoch 37/100
519/519 [==============================] - 0s 873us/step - loss: 0.3465
Epoch 38/100
519/519 [==============================] - 0s 872us/step - loss: 0.3487
Epoch 39/100
519/519 [==============================] - 0s 866us/step - loss: 0.3457
Epoch 40/100
519/519 [==============================] - 0s 875us/step - loss: 0.3410
Epoch 41/100
519/519 [==============================] - 0s 877us/step - loss: 0.3473
Epoch 42/100
519/519 [==============================] - 0s 873us/step - loss: 0.3370
Epoch 43/100
519/519 [==============================] - 0s 893us/step - loss: 0.3414
Epoch 44/100
519/519 [==============================] - 0s 878us/step - loss: 0.3388
Epoch 45/100
519/519 [==============================] - 0s 883us/step - loss: 0.3407
Epoch 46/100
519/519 [==============================] - 0s 884us/step - loss: 0.3367
Epoch 47/100
519/519 [==============================] - 0s 884us/step - loss: 0.3402
Epoch 48/100
519/519 [==============================] - 0s 897us/step - loss: 0.3355
Epoch 49/100
519/519 [==============================] - 0s 887us/step - loss: 0.3402
Epoch 50/100
519/519 [==============================] - 0s 881us/step - loss: 0.3414
Epoch 51/100
519/519 [==============================] - 0s 898us/step - loss: 0.3372
Epoch 52/100
519/519 [==============================] - 0s 892us/step - loss: 0.3402
Epoch 53/100
519/519 [==============================] - 0s 897us/step - loss: 0.3381
Epoch 54/100
519/519 [==============================] - 0s 871us/step - loss: 0.3364
Epoch 55/100
519/519 [==============================] - 0s 867us/step - loss: 0.3369
Epoch 56/100
519/519 [==============================] - 0s 888us/step - loss: 0.3384
Epoch 57/100
519/519 [==============================] - 0s 888us/step - loss: 0.3355
Epoch 58/100
519/519 [==============================] - 0s 884us/step - loss: 0.3368
Epoch 59/100
519/519 [==============================] - 0s 897us/step - loss: 0.3381
Epoch 60/100
519/519 [==============================] - 0s 896us/step - loss: 0.3344
Epoch 61/100
519/519 [==============================] - 0s 898us/step - loss: 0.3356
Epoch 62/100
519/519 [==============================] - 0s 898us/step - loss: 0.3417
Epoch 63/100
519/519 [==============================] - 0s 892us/step - loss: 0.3367
Epoch 64/100
519/519 [==============================] - 0s 888us/step - loss: 0.3377
Epoch 65/100
519/519 [==============================] - 0s 902us/step - loss: 0.3356
Epoch 66/100
519/519 [==============================] - 0s 917us/step - loss: 0.3376
Epoch 67/100
519/519 [==============================] - 0s 887us/step - loss: 0.3355
Epoch 68/100
519/519 [==============================] - 0s 870us/step - loss: 0.3327
Epoch 69/100
519/519 [==============================] - 0s 882us/step - loss: 0.3311
Epoch 70/100
519/519 [==============================] - 0s 890us/step - loss: 0.3308
Epoch 71/100
519/519 [==============================] - 0s 882us/step - loss: 0.3335
Epoch 72/100
519/519 [==============================] - 0s 875us/step - loss: 0.3339
Epoch 73/100
519/519 [==============================] - 0s 886us/step - loss: 0.3400
Epoch 74/100
519/519 [==============================] - 0s 879us/step - loss: 0.3384
Epoch 75/100
519/519 [==============================] - 0s 889us/step - loss: 0.3309
Epoch 76/100
519/519 [==============================] - 0s 888us/step - loss: 0.3339
Epoch 77/100
519/519 [==============================] - 0s 888us/step - loss: 0.3313
Epoch 78/100
519/519 [==============================] - 0s 881us/step - loss: 0.3309
Epoch 79/100
519/519 [==============================] - 0s 882us/step - loss: 0.3297
Epoch 80/100
519/519 [==============================] - 0s 876us/step - loss: 0.3335
Epoch 81/100
519/519 [==============================] - 0s 884us/step - loss: 0.3336
Epoch 82/100
519/519 [==============================] - 0s 929us/step - loss: 0.3328
Epoch 83/100
519/519 [==============================] - 0s 882us/step - loss: 0.3307
Epoch 84/100
519/519 [==============================] - 0s 891us/step - loss: 0.3370
Epoch 85/100
519/519 [==============================] - 0s 882us/step - loss: 0.3354
Epoch 86/100
519/519 [==============================] - 0s 883us/step - loss: 0.3310
Epoch 87/100
519/519 [==============================] - 0s 887us/step - loss: 0.3303
Epoch 88/100
519/519 [==============================] - 0s 896us/step - loss: 0.3290
Epoch 89/100
519/519 [==============================] - 0s 893us/step - loss: 0.3281
Epoch 90/100
519/519 [==============================] - 0s 887us/step - loss: 0.3281
Epoch 91/100
519/519 [==============================] - 0s 893us/step - loss: 0.3297
Epoch 92/100
519/519 [==============================] - 0s 877us/step - loss: 0.3287
Epoch 93/100
519/519 [==============================] - 0s 893us/step - loss: 0.3328
Epoch 94/100
519/519 [==============================] - 0s 887us/step - loss: 0.3260
Epoch 95/100
519/519 [==============================] - 0s 893us/step - loss: 0.3367
Epoch 96/100
519/519 [==============================] - 0s 904us/step - loss: 0.3305
Epoch 97/100
519/519 [==============================] - 0s 891us/step - loss: 0.3312
Epoch 98/100
519/519 [==============================] - 0s 876us/step - loss: 0.3310
Epoch 99/100
519/519 [==============================] - 0s 878us/step - loss: 0.3290
Epoch 100/100
519/519 [==============================] - 0s 885us/step - loss: 0.3302

In [55]:
pred_y_train = np.argmax(tf.nn.softmax(model.predict(X_norm_train)).numpy(),axis=1)
pred_y_test = np.argmax(tf.nn.softmax(model.predict(X_norm_test)).numpy(),axis=1)

# pred_y = X_norm @ w + b
e1= np.sum((y_norm_train - pred_y_train) ** 2)
e2 = np.sum((y_norm_train - np.mean(y_norm_train)) ** 2)
r_squred = 1 - (e1 / e2)
print(f"The rsquared for training dataset is: {r_squred}")

e1= np.sum((y_norm_test - pred_y_test) ** 2)
e2 = np.sum((y_norm_test - np.mean(y_norm_test)) ** 2)
r_squred = 1 - (e1 / e2)
print(f"The rsquard for testing dataset is: {r_squred}")

519/519 [==============================] - 0s 752us/step
130/130 [==============================] - 0s 754us/step
The rsquared for training dataset is: 0.8307131322697995
The rsquard for testing dataset is: 0.8116610212706112

In [56]:
df_test = pd.read_csv("test.csv/test.csv")

In [57]:
df_test.shape

(13840, 17)

In [58]:
df_test.columns

Index(['id', 'Gender', 'Age', 'Height', 'Weight',
       'family_history_with_overweight', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS'],
      dtype='object')

In [59]:
df_test["family_history_with_overweight"].replace(["yes", "no"], [1, 0], inplace=True)
df_test["FAVC"].replace(["yes", "no"], [1, 0], inplace=True)
df_test["SMOKE"].replace(["yes", "no"], [1, 0], inplace=True)
df_test["SCC"].replace(["yes", "no"], [1, 0], inplace=True)
df_test = pd.get_dummies(df_test ,prefix=['Gender', 'CAEC', 'CALC', 'MTRANS'], columns = ['Gender', 'CAEC', 'CALC', 'MTRANS'], drop_first=False, dtype=np.int64)

In [60]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 0 to 13839
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              13840 non-null  int64
 1   Age                             13840 non-null  float64
 2   Height                          13840 non-null  float64
 3   Weight                          13840 non-null  float64
 4   family_history_with_overweight  13840 non-null  int64
 5   FAVC                            13840 non-null  int64
 6   FCVC                            13840 non-null  float64
 7   NCP                             13840 non-null  float64
 8   SMOKE                           13840 non-null  int64
 9   CH2O                            13840 non-null  float64
 10  SCC                             13840 non-null  int64
 11  FAF                             13840 non-null  float64
 12  TUE                             13840 non-null  float64
 13  Gender_Female                   13840 non-null  int64
 14  Gender_Male                     13840 non-null  int64
 15  CAEC_Always                     13840 non-null  int64
 16  CAEC_Frequently                 13840 non-null  int64
 17  CAEC_Sometimes                  13840 non-null  int64
 18  CAEC_no                         13840 non-null  int64
 19  CALC_Always                     13840 non-null  int64
 20  CALC_Frequently                 13840 non-null  int64
 21  CALC_Sometimes                  13840 non-null  int64
 22  CALC_no                         13840 non-null  int64
 23  MTRANS_Automobile               13840 non-null  int64
 24  MTRANS_Bike                     13840 non-null  int64
 25  MTRANS_Motorbike                13840 non-null  int64
 26  MTRANS_Public_Transportation    13840 non-null  int64
 27  MTRANS_Walking                  13840 non-null  int64
dtypes: float64(8), int64(20)
memory usage: 3.0 MB

In [61]:
X_test = df_test.drop(["id", "CALC_Always"], axis=1)

In [62]:
X_test.shape

(13840, 26)

In [63]:
X_test_norm = (X_test - X_test.mean()) / X_test.std()

In [64]:
pred_y_test = np.argmax(tf.nn.softmax(model.predict(X_test_norm)).numpy(),axis=1)

433/433 [==============================] - 0s 745us/step

In [65]:
pred_y_test.shape

(13840,)

In [82]:
new_df = pd.concat([df_test["id"], pd.Series(pred_y_test)], axis=1)

In [86]:
new_df.drop(index=new_df.index)

Empty DataFrame
Columns: [id, 0]
Index: []

In [90]:
new_df.columns = ["id", "NObeyesdad"]

In [92]:
new_df["NObeyesdad"].replace(changed_names.values(), changed_names.keys(), inplace=True)

In [93]:
new_df.head()

      id          NObeyesdad
0  20758     Obesity_Type_II
1  20759  Overweight_Level_I
2  20760    Obesity_Type_III
3  20761      Obesity_Type_I
4  20762    Obesity_Type_III

In [94]:
new_df.NObeyesdad.value_counts()

NObeyesdad
Obesity_Type_III       2622
Obesity_Type_II        2150
Obesity_Type_I         2052
Normal_Weight          1965
Insufficient_Weight    1739
Overweight_Level_I     1675
Overweight_Level_II    1637
Name: count, dtype: int64

In [95]:
new_df.to_csv("submission.csv")